@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700&subset=latin-ext);/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

/* Document
       ========================================================================== */

/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */

/**
     * Remove the margin in all browsers (opinionated).
     */

body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */

figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */

main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */

/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */

/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */

b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */

b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */

dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */

mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */

small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */

img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */

/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */

button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */

input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */

legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */

textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */

/*
     * Add the correct display in Edge, IE, and Firefox.
     */

details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */

summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */

menu {
  display: block;
}

/* Scripting
       ========================================================================== */

/**
     * Add the correct display in IE 9-.
     */

canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */

template {
  display: none;
}

/* Hidden
       ========================================================================== */

/**
     * Add the correct display in IE 10-.
     */

[hidden] {
  display: none;
}

@-webkit-keyframes index_full-incorrect_j8mdP {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes index_full-incorrect_j8mdP {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@-webkit-keyframes index_color-incorrect_V0qnl {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@keyframes index_color-incorrect_V0qnl {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@-webkit-keyframes index_mix-incorrect_YrfQ9 {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes index_mix-incorrect_YrfQ9 {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

/* Fixes shitty intuition for Box Model, yeezus */

html {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Construct height inheritance */

html,
body {
  height: 100%;
}

div#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333334;
}

ul {
  padding-left: 4.44444vh;
}

:root {
  --cool-grey: #b0b0b1;
  --blue-grey: #7f8fa4;
  --avocado: #8aaf33;
  --snot-green: #a5cc00;
  --dark: #273142;
  --turquoise: #00bfa5;
  --darkish-pink: #df4b5f;
  --sunflower: #ffbe13;
  --green-yellow: #a4cc0b;
  --cornflower-blue: #4080d8;
  --dark-indigo: #2c0b76;
  --periwinkle-60: rgba(148, 99, 255, 0.6);
  --vivid-blue: #1726f9;
  --bright-blue: #005cff;
  --purplish-blue: #651fff;
  --title-font-size: 5.555555555555555vh;
  --quote-font-size: 4.444444444444445vh;
  --heading-font-size: 2.888888888888889vh;
  --subtitle-font-size: 2.4444444444444446vh;
  --body2-font-size: 2vh;
  --body-font-size: 1.5555555555555556vh;
  --caption-font-size: 1.3333333333333333vh;
  --correct: #99cc00;
  --incorrect: #d0021b;
  --active: var(--purplish-blue);
  --hover: #dddddd;
  --task-main: #005cff;
}.BHApiComponent_root_3K1A6 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  padding: 2vh;
}

.BHApiComponent_root_3K1A6 .BHApiComponent_request_1JcBp {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
}

.BHApiComponent_root_3K1A6 .BHApiComponent_request_1JcBp .BHApiComponent_ta-wrapper_1SpMz {
  width: 72.22222vh;
}

.BHApiComponent_root_3K1A6 .BHApiComponent_request_1JcBp .BHApiComponent_ta-wrapper_1SpMz,
.BHApiComponent_root_3K1A6 .BHApiComponent_request_1JcBp .BHApiComponent_send_3Ye9n {
  margin: 1vh;
}

.BHApiComponent_root_3K1A6 .BHApiComponent_editor_1Fj4j {
  width: 100vh;
}@-webkit-keyframes TextInput_full-incorrect_33eOb {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes TextInput_full-incorrect_33eOb {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@-webkit-keyframes TextInput_color-incorrect_3szKy {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@keyframes TextInput_color-incorrect_3szKy {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@-webkit-keyframes TextInput_mix-incorrect_23gPG {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes TextInput_mix-incorrect_23gPG {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

input.TextInput_textInput_1YYZD {
  resize: none;
  width: inherit;
  height: 4.44444vh;
  border-radius: 0.44444vh;
  background-color: #ffffff;
  border: solid 0.22222vh #e6e6f0;
  font-family: Roboto;
  font-size: 1.5555555555555556vh;
  font-size: var(--body-font-size);
  font-weight: 500;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33333vh;
  letter-spacing: normal;
  text-align: left;
  color: #273142;
  padding: 1.11111vh 1.33333vh;
}

input.TextInput_textInput_1YYZD:invalid {
  color: #7f8fa4;
  color: var(--blue-grey);
  box-shadow: none;
}

input.TextInput_textInput_1YYZD:focus {
  box-shadow: 0 0 1.11111vh 0 rgba(148, 99, 255, 0.2);
  outline: none;
}

input.TextInput_textInput_1YYZD.TextInput_incorrect_2i4lx {
  border-color: rgba(208, 2, 27, 0.2);
}

input.TextInput_textInput_1YYZD.TextInput_answers_39m26 {
  border-color: rgba(208, 2, 27, 0.2);
  border-color: rgba(32, 32, 32, 0.329);
  border-color: rgba(32, 32, 32, 0.329);
}

.TextInput_hint_2szUw {
  position: relative;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  height: 4.44444vh;
  width: 4.44444vh;
  vertical-align: middle;
}

.TextInput_hint_2szUw svg {
  margin: 0.88889vh;
}

.TextInput_hint_2szUw svg:hover + .TextInput_tooltip_iCOvt {
  display: initial;
}

.TextInput_hint_2szUw .TextInput_tooltip_iCOvt {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 4.25vh;
  padding: 0 2.22222vh;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: none;
  line-height: 2.53333vh;
  padding: 1vh 2.22222vh;
  width: 35.6vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.TextInput_OK_3qQF1 {
  display: inline-block;
  margin-left: -2.11111vh;
  z-index: 1;
  width: 1.22222vh;
}@-webkit-keyframes Button_full-incorrect_35CJ9 {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes Button_full-incorrect_35CJ9 {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@-webkit-keyframes Button_color-incorrect_2X_U0 {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@keyframes Button_color-incorrect_2X_U0 {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@-webkit-keyframes Button_mix-incorrect_2XHQL {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes Button_mix-incorrect_2XHQL {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

.Button_btn_1Sx3D {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: 0;
  /* Remove mystery padding in Gecko browsers.
     * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
     */
  cursor: pointer;
  width: 13.33333vh;
  height: 4vh;
  border-radius: 0.44444vh;
  background-color: #a5cc00;
  background-color: var(--snot-green);
  border: solid 0.11111vh rgba(0, 0, 0, 0.2);
}

.Button_btn_1Sx3D::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.Button_btn_1Sx3D.Button_question-mark_1N8tK {
  width: 4vh;
  height: 4vh;
  box-shadow: 0 0.11111vh 0.22222vh 0 rgba(0, 0, 0, 0.3);
  border: solid 0.11111vh rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.Button_btn_1Sx3D.Button_question-mark_1N8tK > svg {
  width: 1.33333vh;
  height: 2.44444vh;
}

.Button_btn_1Sx3D.Button_question-mark_1N8tK:focus,
.Button_btn_1Sx3D.Button_question-mark_1N8tK:hover {
  outline: none;
  box-shadow: 0 0.11111vh 0.22222vh 0 rgba(0, 0, 0, 0.2), 0 0.22222vh 1.11111vh 0 #919191;
}

.Button_btn_1Sx3D:focus,
.Button_btn_1Sx3D:hover {
  outline: none;
  box-shadow: 0 0.11111vh 0.22222vh 0 rgba(0, 0, 0, 0.2), 0 0.22222vh 1.11111vh 0 #a9cc55;
}

.Button_btn_1Sx3D.Button_large_2LSPp {
  width: 17.77778vh;
  height: 5.55556vh;
}

.Button_btn_1Sx3D.Button_disabled_FoLHt {
  background-color: #d5d5dd;
}

.Button_btn_1Sx3D.Button_disabled_FoLHt:focus,
.Button_btn_1Sx3D.Button_disabled_FoLHt:hover {
  box-shadow: 0 0.11111vh 0.22222vh 0 rgba(0, 0, 0, 0.2), 0 0.22222vh 1.11111vh 0 #cdcdd9;
}

.Button_btn_1Sx3D.Button_next-task_3NNyI {
  background-color: #651fff;
}

.Button_btn_1Sx3D.Button_next-task_3NNyI:focus,
.Button_btn_1Sx3D.Button_next-task_3NNyI:hover {
  outline: none;
  box-shadow: 0 0.11111vh 0.22222vh 0 rgba(0, 0, 0, 0.2), 0 0.22222vh 1.11111vh 0 rgba(101, 31, 255, 0.5);
}

.Button_delete_2eQB7 {
  background-color: var(--incorrect);
}

.Button_delete_2eQB7:focus,
.Button_delete_2eQB7:hover {
  outline: none;
  box-shadow: 0 0.11111vh 0.22222vh 0 rgba(0, 0, 0, 0.2), 0 0.22222vh 1.11111vh 0 var(--darkish-pink);
}

.Button_file-input-wrapper_3toF0 {
  text-align: center;
  line-height: 4vh;
  position: relative;
}

.Button_file-input-wrapper_3toF0 > input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.Button_file-input-wrapper_3toF0 > input:focus {
  outline: none;
}@-webkit-keyframes TextSpan_full-incorrect_pR8kK {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes TextSpan_full-incorrect_pR8kK {
  50% {
    color: rgba(190, 22, 0, 0.404);
    background-color: rgba(255, 117, 99, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@-webkit-keyframes TextSpan_color-incorrect_3W_kr {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@keyframes TextSpan_color-incorrect_3W_kr {
  50% {
    color: rgba(190, 22, 0, 0.404);
  }
}

@-webkit-keyframes TextSpan_mix-incorrect_1sx4- {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

@keyframes TextSpan_mix-incorrect_1sx4- {
  50% {
    color: rgba(190, 22, 0, 0.404);
    border-color: rgba(197, 23, 0, 0.396);
  }
}

.TextSpan_light_N7Om- {
  color: #ffffff;
}

.TextSpan_dark_24Eow {
  color: #2b3237;
}

.TextSpan_text_2OCh9 {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.TextSpan_title_1Mirj {
  font-family: Roboto;
  font-size: 5.555555555555555vh;
  font-size: var(--title-font-size);
  font-weight: 500;
}

.TextSpan_quote_1-33y {
  font-family: Roboto;
  font-size: 4.444444444444445vh;
  font-size: var(--quote-font-size);
  font-weight: 300;
}

.TextSpan_heading_1m4gU {
  font-family: Roboto;
  font-size: 2.888888888888889vh;
  font-size: var(--heading-font-size);
  font-weight: 900;
}

.TextSpan_subtitle_59cgf {
  font-family: Roboto;
  font-size: 2.4444444444444446vh;
  font-size: var(--subtitle-font-size);
  font-weight: normal;
}

.TextSpan_body2_1vKpf {
  font-family: Roboto;
  font-size: 2vh;
  font-size: var(--body2-font-size);
  font-weight: 900;
}

.TextSpan_body_2Cr2D {
  font-family: Roboto;
  font-size: 1.5555555555555556vh;
  font-size: var(--body-font-size);
  font-weight: 500;
}

.TextSpan_caption_TDvKS {
  font-family: Roboto;
  font-size: 1.3333333333333333vh;
  font-size: var(--caption-font-size);
  font-weight: 500;
}

.TextSpan_link_2WfLU,
.TextSpan_link_2WfLU > a {
  font-family: Roboto;
  font-family: Roboto;
  font-size: 1.5555555555555556vh;
  font-size: var(--body-font-size);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  color: #4080d8;
  color: var(--cornflower-blue);
  text-decoration: none;
}

.TextSpan_link_2WfLU:hover,
.TextSpan_link_2WfLU > a:hover {
  text-decoration: underline;
}

.TextSpan_link2_1DrLM,
.TextSpan_link2_1DrLM > a {
  font-family: Roboto;
  font-family: Roboto;
  font-size: 2vh;
  font-size: var(--body2-font-size);
  font-weight: 900;
  cursor: pointer;
  color: #4080d8;
  color: var(--cornflower-blue);
  text-decoration: none;
  white-space: pre-wrap;
}

.TextSpan_link2_1DrLM:hover,
.TextSpan_link2_1DrLM > a:hover {
  text-decoration: underline;
}